---
import { Image } from "astro:assets";

import pattern5Img from "@/assets/Pattern 5.svg";
import pattern6Img from "@/assets/images/Pattern 6.svg";
import whatsappImg from "@/assets/icons8-whatsapp-50.png";
import mailIcon from "@/assets/Vector (1).svg";
import threadsIcon from "@/assets/Vector-1.svg";
import instagramIcon from "@/assets/g2.svg";
import facebookIcon from "@/assets/Vector.svg";
---

<div class="sfooter" id="support">
  <div class="ftop">
    <div class="lshp">
      <Image src={pattern5Img} alt="pattern 5" />
    </div>
    <div class="midd">
      <div class="mt">
        <h3>Know more about our services</h3>
      </div>
      <div class="mb">
        <button class="btn-filled">Make an Appoinment</button>
        <button class="btn-unfilled">Contact Us</button>
      </div>
    </div>
    <div class="rshp">
      <Image src={pattern6Img} alt="Pattern 6" />
    </div>
  </div>
  <div class="fbottom">
    <footer class="footer">
      <div class="footer-container">
        <!-- Contact Section -->
        <div class="contact-section">
          <div class="contact-item">
            <Image src={whatsappImg} alt="Whatsapp" class="icon" />
            <span>+971 561625698</span>
          </div>
          <div class="contact-item">
            <Image src={mailIcon} alt="Email" class="icon" />
            <span>me2gence@gmail.com</span>
          </div>
        </div>

        <!-- Social Icons -->
        <div class="social-icons">
          <a href="#" class="social-link">
            <Image src={threadsIcon} alt="Threads" class="icon" />
          </a>
          <a href="#" class="social-link">
            <Image src={instagramIcon} alt="Instagram" class="icon" />
          </a>
          <a href="#" class="social-link">
            <Image src={facebookIcon} alt="Facebook" class="icon" />
          </a>
        </div>

        <!-- Links Section -->
        <div class="links-section">
          <div class="link-group">
            <ul></ul>
          </div>
          <div class="link-group">
            <h4>Company</h4>
            <ul>
              <li><a href="#about">About Us</a></li>
              <li><a href="#location">Location</a></li>
              <li><a href="#careers">Careers</a></li>
            </ul>
          </div>
          <div class="link-group">
            <h4>Resources</h4>
            <ul>
              <li><a href="#">Blog</a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Footer Bottom -->
      <div class="footer-bottom">
        <p>© 2022 Blackboard India Pvt. Ltd. All rights reserved.</p>
      </div>
    </footer>
  </div>
</div>

<div class="mb_sfooter">
  <div class="ft_top">
    <div class="l"></div>
    <div class="m">
      <h3>Know more about our services</h3>
      <div class="ft_mb">
        <button class="ft_mb_btn-filled">Make an Appoinment</button>
        <button class="ft_mb_btn-unfilled">Contact Us </button>
      </div>
    </div>
    <div class="r"></div>
  </div>

  <div class="mb_fbottom" id="mb_support">
    <footer class="mb_footer">
      <div class="mb_footer-container">
        <!-- Contact Section -->
        <div class="mb_contact-section">
          <div class="mb_contact-item">
            <Image src={whatsappImg} alt="Whatsapp" class="mb_icon" />
            <h5>+971 561625698</h5>
          </div>
          <div class="mb_contact-item">
            <Image src={mailIcon} alt="Email" class="mb_icon" />
            <h5>me2gence@gmail.com</h5>
          </div>
        </div>
        <div class="mb_social-icons">
          <a
            href="https://www.threads.net/@mentorgence/"
            class="mb_social-link"
          >
            <Image src={threadsIcon} alt="Threads" class="mb_icon" />
          </a>
          <a
            href="https://www.instagram.com/mentorgence/"
            class="mb_social-link"
          >
            <Image src={instagramIcon} alt="Instagram" class="mb_icon" />
          </a>
          <a
            href="https://www.facebook.com/mentorgence/"
            class="mb_social-link"
          >
            <Image src={facebookIcon} alt="Facebook" class="mb_icon" />
          </a>
        </div>
        <div class="mb_nav-links">
          <a href="#mb_about">About Us</a>
          <a href="#mb_support">Support</a>
          <a href="#mb_home">Home</a>
        </div>
      </div>
      <div class="mb_footer-bottom">
        <p>© 2022 Blackboard India Pvt. Ltd. All rights reserved.</p>
      </div>
    </footer>
  </div>
</div>
