---
import { Image } from "astro:assets";

import logo1 from "@/assets/ulogo.svg";
import logo2 from "@/assets/ulogo2.svg";
import leftImg from "@/assets/Patterns.svg";
import rightImg from "@/assets/Image 1.svg";
---

<div class="herosection">
  <div class="left_container">
    <div class="ltop">
      <h1>Your Trusted Guide to</h1>
      <h2>Global Education</h2>
      <p>
        At MentorGence, we are dedicated to providing students with trusted
        guidance on their journey to pursuing higher education abroad. We work
        closely with students, parents, and partner universities to create clear
        pathways to global learning opportunities.
      </p>
    </div>
    <div class="lbtom">
      <h3>Patnered with</h3>
      <div class="logos">
        <Image src={logo1} alt="Harvard University" />
        <Image src={logo2} alt="University of Michigan" />
      </div>
    </div>
  </div>
  <div class="right_container">
    <div class="lftshape">
      <Image src={leftImg} alt="" />
    </div>
    <div class="rgtimg">
      <Image src={rightImg} alt="" />
    </div>
  </div>
</div>
<div class="mb_herosection">
  <div class="mb_left">
    <Image src={leftImg} alt="" />
  </div>
  <div class="mb_right">
    <Image src={rightImg} alt="" />
  </div>
</div>
